<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Músicas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <ion-title>
    Lista de Reprodução
  </ion-title>
  <br>
  <ion-list>
    <ion-item>
      <ion-icon name="musical-note-outline"></ion-icon>
      Música 1
      <ion-icon name="play-outline" style="margin-left: 40%;"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name="musical-note-outline"></ion-icon>
      Música 2
    </ion-item>
    <ion-item>
      <ion-icon name="musical-note-outline"></ion-icon>
      Música 3
    </ion-item>
    <ion-item>
      <ion-icon name="musical-note-outline"></ion-icon>
      Música 4
    </ion-item>
    <ion-item>
      <ion-icon name="musical-note-outline"></ion-icon>
      Música 5
    </ion-item>
    <ion-item>
      <ion-icon name="musical-note-outline"></ion-icon>
      Música 6
    </ion-item>
    <ion-item>
      <ion-icon name="musical-note-outline"></ion-icon>
      Música 7
    </ion-item>
    <ion-item>
      <ion-icon name="musical-note-outline"></ion-icon>
      Música 8
    </ion-item>
    
  </ion-list>
</ion-content>
