<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    Configurações
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
 <ion-title style="align-items: center; font-size: 15px;">Opções de Configurações</ion-title>
 <br>
 <ion-list>
  <ion-item>
    <ion-icon name="megaphone-outline"></ion-icon>
    Volume
  </ion-item>
  <ion-item>
    <ion-icon name="create-outline"></ion-icon>
    Letra da música
  </ion-item>
  <ion-item>
    <ion-icon name="cloud-download-outline"></ion-icon>
    Dowload
  </ion-item>
  <ion-item>
    <ion-icon name="star-outline"></ion-icon>
    Adicionar aos favoritos
  </ion-item>
  <ion-item>
    <ion-icon name="chatbubbles-outline"></ion-icon>
    Inserir comentários
  </ion-item>
  <ion-item>
    <ion-icon name="happy-outline"></ion-icon>
  Compartilhar música
  </ion-item>
  <ion-item>
    <ion-icon name="person-circle-outline"></ion-icon>
  Informações do usuário
  </ion-item>
  <ion-item>
    <ion-icon name="arrow-back-outline"></ion-icon>
  Sair
  </ion-item>
 </ion-list>

</ion-content>
